

body,
html {
  height: 150%;
  background-image: linear-gradient(to top, #2b2216 0%, #9e9177 100%);
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/food2.jpg") no-repeat center center;
  background-size: cover;
  /* box-shadow: 10px 10px 10px rgba(27, 27, 27, 0.37); */
  -webkit-box-shadow: inset 0px -17px 43px 7px rgba(0,0,0,0.66);
  -moz-box-shadow: inset 0px -17px 43px 7px rgba(0,0,0,0.66);
  box-shadow: inset 0px -17px 43px 7px rgba(0,0,0,0.66);
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;

}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.61);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

@media (min-width: 992px) {

  .container {
      max-width: 980px;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 10px;
  }
  }

#button {
  box-shadow: 10px 10px 10px rgba(27, 27, 27, 0.37);

}

#recipeCards {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 5px;
}

#videos {
  padding-right: 0px;
  padding-left: 0px;
  color: rgb(43, 42, 42);
  margin-top: 5px;
}

.navbar-brand {

  font-size: 35px;
  font-weight: bold;
}

.card {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 2px;
  margin: 5px;
  height: 280px;
}


/* Card title sizing */


.cardTitle {
  font-size: 1.03rem;
  padding-top: 2px;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.card-body {
  box-shadow: 10px 10px 10px rgba(27, 27, 27, 0.37);
  height: 250px;
  overflow-y: scroll;
}

.card-footer {
  padding-top: 0px;
  padding-bottom: 2px;
}

#search-term {
  display: inline-block;
 }

.youtubelink {
  color: rgb(43, 42, 42);
}

